* {
    height: 100px;
}

div {
    margin: 10px;
    position: fixed;
    left: 5px;
    top: 5px;
    float: left;
    list-style-type: none;
    background-color: #fff;
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    display: table-cell;
}

._title_ml1zy_37 {
    color: tomato;
}

._content_ml1zy_45 {
    background-color: yellow;
}